@import "bootstrap/bootstrap";
@import "core";
@import "bootswatch";
@import "variables";

body {
  padding-top: 0;
}

#banner {
  text-align: center;
  margin: 0;
}

.page-header h1 {
  padding-top: 20%;
}

.bs-docs-section {
  margin: 0
}

footer {
  margin: 5em 0 0;
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top: 7px;
}

.stMainServices, .stHBubble {
  height: 22px !important;
}

#scroll_down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 5%;
  opacity: 0.8;
  filter: alpha(opacity=80);
}